# importing libraries and datset

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [ ]:
from sklearn.datasets import load_iris
data = load_iris()
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [ ]:
iris_df = pd.DataFrame(data["data"] , columns = data["feature_names"])
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
iris_df["target"] = data["target"]
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
iris_df.loc[iris_df["target"] == 0 ,'label'] = 'setosa'
iris_df.loc[iris_df["target"] == 1 ,'label'] = 'versicolor'
iris_df.loc[iris_df["target"] == 2 ,'label'] = 'virginica'
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [ ]:
# Creating X and y variable
X = iris_df.drop(["target" , "label"] , axis = 1)
y = iris_df["target"]

#splitting the data into train and test
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X, y , test_size = 0.2)

## 1. Decision Tree

In [ ]:
#importing and fitting the values
from sklearn.tree import DecisionTreeClassifier
dec_model = DecisionTreeClassifier()
dec_model.fit(X_train , y_train)

DecisionTreeClassifier()

In [ ]:
#predicting the values
y_pred = dec_model.predict(X_test)

#seeing both the y_test and the predicted values in a df
predict_df = pd.DataFrame({"Actual": y_test, "Predictions": y_pred})
predict_df.head()

     Actual  Predictions
57        1            1
59        1            1
21        0            0
90        1            1
102       2            2

In [ ]:
# the average difference between predicted and actual values
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test  , y_pred)

0.0

In [ ]:
#score
dec_model.score(X_test , y_test)

1.0

# 2. KNN

In [ ]:
#importing and fitting the values
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()
knn_model.fit(X_train , y_train)

KNeighborsClassifier()

In [ ]:
y_pred= knn_model.predict(X_test)
print(y_pred)

[1 1 0 1 2 2 0 0 0 2 1 0 1 2 1 0 0 1 1 2 1 2 1 1 1 2 2 0 0 0]

In [ ]:
predict_df = pd.DataFrame({"Actual": y_test, "Predictions": y_pred})
predict_df.head()

     Actual  Predictions
57        1            1
59        1            1
21        0            0
90        1            1
102       2            2

In [ ]:
# the average difference between predicted and actual values
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test  , y_pred)

0.03333333333333333

In [ ]:
# score of KNN
knn_model.score(X_test , y_test)

0.9666666666666667